body{
    background-color: #a6b3ef;
}
h1{
    text-align: center;

}
.div-padre{
    display: flex;
    justify-content: space-around;
}

#player-name, #user-scores{
    background-color: rgb(122, 157, 255);
    padding: 1rem;
}
#start-game{
    padding: 0.5rem 2rem;
    background-color:blue;
    color: white;
    margin: 2rem auto;
}
.username{
    display: block;
    margin: auto;
}
#player-name{
    flex-basis: 60%;
    text-align: center;
}

#user-scores{
    flex-basis: 25%;
    text-align: center;
}