body{
    background-color: #a6b3ef;
}
h1{
    text-align: center;

}
.div-padre{
    display: flex;
    justify-content: space-around;
}

#player-name, #user-scores{
    background-color: rgb(122, 157, 255);
    padding: 1rem;
}
.button-initial{
    padding: 0.5rem 2rem;
    background-color:blue;
    color: white;
}
.block{
    display: block;
    margin: auto;
}
#player-name{
    flex-basis: 60%;
    text-align: center;
}

#user-scores{
    flex-basis: 25%;
    text-align: center;
}

.username-class{
    margin-bottom: 1rem;
}

.hide{
    display: none;
}

.show-button{
    flex-basis: 60%;
    text-align: center;
    background-color: rgb(122, 157, 255);
    height: 15vh;
}